body{
    font-family: 'exo', sans-serif;
    background:url('imagenes/market_cab.jpg');
}
  .final_pagina{
    text-align: center;
  }
  section {
    text-align: center;
  }
  
   p {
    color: rgb(0, 0, 0);
   
  }
  h5, h2, h3,h4{
    color:rgb(6, 252, 35);
    
  }
  
  #form {
    color:whitesmoke;
  }
  
  h1 {
    color:yellow;
  }